<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>sekeywords</name>
            <displayName><![CDATA[מנוע חיפוש מילות מפתח]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[הצגת מילות מפתח אשר הובילו המבקרים באתר שלך.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[analytics_stats]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>