<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>watermark</name>
            <displayName><![CDATA[סימן מים]]></displayName>
            <version><![CDATA[0.3]]></version>
            <description><![CDATA[הגן על התמונה על ידי סימן מים.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>האם אתה בטוח שאתה רוצה למחוק את הפרטים שלך?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>