<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>loyalty</name>
            <displayName><![CDATA[תוכנית הפרסים והנאמנויות של הלקוחות]]></displayName>
            <version><![CDATA[1.8]]></version>
            <description><![CDATA[מגדירה תוכנית נאמנות ללקוחות שלך.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[pricing_promotion]]></tab>
	<confirmUninstall>האם אתה בטוח שברצונך למחוק את כל נקודות הנאמנות והיסטוריית הלקוח?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>